<%if logged_in?%>
    <h1>Found an artist not in our database?</h1>
    <h2>Enter it here!</h2>

    <%= render "form", is_edit: false, artist: @artist %>


<%else%>
    <h1>Please login to Create an Artist</h1>
<%end%>
